<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.izv.dmc.proyectofinal">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal">

        <activity
            android:name=".view.activity.EditAspect"
            android:exported="false" />
        <activity
            android:name=".view.activity.CreateAspectActivity"
            android:exported="false"
            android:parentActivityName=".view.activity.AspectActivity"
            />
        <activity
            android:name=".view.activity.AspectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>